main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 55%;
  max-width: 1200px;
}

.animate {
  opacity: 0;
  animation: fade-in .4s ease-in-out forwards;
}

.job-title {
  font-weight: 100;
}

.btn {
  width: 200px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}